<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Whistling>
            <version>0.1.0</version>
        </Custom_Whistling>
    </modules>
    <frontend>
        <routers>
            <whistling>
                <use>standard</use>
                <args>
                    <module>Custom_Whistling</module>
                    <frontName>whistling</frontName>
                </args>
            </whistling>
        </routers>
        <layout>
            <updates>
                <whistling>
                    <file>whistling.xml</file>
                </whistling>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<whistling>
				<use>admin</use>
				<args>
					<module>Custom_Whistling</module>
					<frontName>whistling</frontName>
				</args>
			</whistling>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<whistling module="whistling">
				<title>Whistling</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="whistling">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>whistling/adminhtml_whistling</action>
					</items>
				</children>
			</whistling>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Custom_Whistling>
							<title>Whistling Module</title>
							<sort_order>10</sort_order>
						</Custom_Whistling>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<whistling>
					<file>whistling.xml</file>
				</whistling>
			</updates>
		</layout> -->
    </adminhtml>   
    <global>
        <models>
            <whistling>
                <class>Custom_Whistling_Model</class>
                <resourceModel>whistling_mysql4</resourceModel>
            </whistling>
            <whistling_mysql4>
                <class>Custom_Whistling_Model_Mysql4</class>
                <entities>
                    <whistling>
                        <table>whistling</table>
                    </whistling>
                </entities>
            </whistling_mysql4>
        </models>
        <resources>
            <whistling_setup>
                <setup>
                    <module>Custom_Whistling</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </whistling_setup>
            <whistling_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </whistling_write>
            <whistling_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </whistling_read>
        </resources>
        <blocks>
            <whistling>
                <class>Custom_Whistling_Block</class>
            </whistling>
        </blocks>
        <helpers>
            <whistling>
                <class>Custom_Whistling_Helper</class>
            </whistling>
        </helpers>
    </global>
</config>